{% extends 'home/tabs/base.html.twig' %}

{% block content %}
    <div class="inner-box clearfix">
        <h2>{aj_home_conquer_universe}</h2>
        <p>{aj_home_description}</p>
        <a class="overlay button" href="index.php?page=rules" title="{aj_home_rules}">{aj_home_rules}</a>
    </div>

    <div id="trailer" class="inner-box last clearfix">
        <h2 id="trailer">{aj_home_trailer}</h2>
        <div id="flashTrailer">
            <video width="425" height="270" controls autoplay muted poster="/video/trailer_play.png" style="background-color: #000">
                <source src="/video/trailer.mp4" type="video/mp4">
                <img src="/video/trailer_play.png">
            </video>
        </div>
    </div>
{% endblock %}