{% extends 'home/tabs/base.html.twig' %}

{% block content %}
    <div class="inner-box clearfix">
        <h2>{aj_media_wallpapers}</h2>
        <div id="wallpapers" class="clearfix">
        </div>
    </div>
    <div class="inner-box last clearfix">
        <h2>{aj_media_pictures}</h2>
        <div id="screens">
        </div>
    </div>
    <div class="inner-box last clearfix">
        <h2>{aj_media_concept_art}</h2>
        <div id="screens">
        </div>
    </div>
{% endblock %}